<settings>
    <setting propertyKey="@Properties.speedGreen" title="@Strings.SpeedGreen">
        <settingConfig type="numeric" min="0" max="60" />
    </setting>
    <setting propertyKey="@Properties.speedOrange" title="@Strings.SpeedOrange">
        <settingConfig type="numeric" min="0" max="60" />
    </setting>
    <setting propertyKey="@Properties.speedRed" title="@Strings.SpeedRed">
        <settingConfig type="numeric" min="0" max="60" />
    </setting>
    <setting propertyKey="@Properties.leftSegment" title="@Strings.LeftSegment" prompt="@Strings.LeftSegmentPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.HeartRate</listEntry>
            <listEntry value="2">@Strings.TimerTime</listEntry>
            <listEntry value="3">@Strings.ElapsedTime</listEntry>
            <listEntry value="4">@Strings.Power</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.rightSegment" title="@Strings.RightSegment" prompt="@Strings.RightSegmentPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.Cadence</listEntry>
            <listEntry value="2">@Strings.TimerTime</listEntry>
            <listEntry value="3">@Strings.ElapsedTime</listEntry>
            <listEntry value="4">@Strings.Power</listEntry>
        </settingConfig>
    </setting> 
    <setting propertyKey="@Properties.middleSegment" title="@Strings.MiddleSegment" prompt="@Strings.MiddleSegmentPrompt">
        <settingConfig type="list">
            <listEntry value="1">@Strings.HeartRate</listEntry>
            <listEntry value="3">@Strings.ElapsedTime</listEntry>
            <listEntry value="4">@Strings.Power</listEntry>
            <listEntry value="5">@Strings.Grade</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.arcSegment" title="@Strings.ArcSegment" prompt="@Strings.ArcSegmentPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.Speed</listEntry>
            <listEntry value="2">@Strings.HeartRate</listEntry>
        </settingConfig>
    </setting>  
    <setting propertyKey="@Properties.minMaxSegment" title="@Strings.MinMaxSegment" prompt="@Strings.MinMaxSegmentPrompt">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Cadence</listEntry>
            <listEntry value="2">@Strings.Speed</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.cadenceBlue" title="@Strings.CadenceBlue">
        <settingConfig type="numeric" min="0" max="300" />
    </setting>
    <setting propertyKey="@Properties.cadenceGreen" title="@Strings.CadenceGreen">
        <settingConfig type="numeric" min="0" max="300" />
    </setting>
    <setting propertyKey="@Properties.cadenceOrange" title="@Strings.CadenceOrange">
        <settingConfig type="numeric" min="0" max="300" />
    </setting>
    <setting propertyKey="@Properties.cadenceRed" title="@Strings.CadenceRed">
        <settingConfig type="numeric" min="0" max="300" />
    </setting>
    <setting propertyKey="@Properties.toggleMinMax" title="@Strings.ToggleMinMax">
        <settingConfig type="boolean" />
    </setting>
</settings>